h2{
	font-size: 22px;
	height: 70px;
	line-height: 70px;
}
nav>ul{
	display: none;
}
nav .text{
	color:transparent;
	height: 40px;
	line-height: 40px;
	display: block;
}
.aaaa{
	display: none;
	height: 60px;
}
#yincang li{
	width: 25%;
	font-size: 12px;
}
.guanbi{
	display: block;
}
.header .logo{
	height: 30px;
	padding-top: 10px;
}
.header .logo img {
    display: block;
    padding-left: 8%;
}
/*header end************************************************************/
.concent{
	padding-top: 40px;
}

aside,article{
	width: 100%;
	float: none;
}
article{
	padding-bottom: 45px;
}
aside{
	border-right: 0px;
}
aside ul{
	width: 100%;
	padding: 0;
	padding-left: 0%;
}
aside ul li{
	width: 25%;
	float: left;
}
aside ul li{
	border-bottom: 0px;
}
aside ul li h2{
	height: 68px;
	line-height: 68px;
}
aside ul li a{
	font-size: 18px;
}
aside ul li img{
	width:44px;
	height: 40px;
	padding-left: 30.5%;
}
aside ul li:nth-of-type(5) h2,aside ul li:nth-of-type(6) h2{
	margin-top:-3px;
}
aside ul li:nth-of-type(5) img,aside ul li:nth-of-type(6) img{
	height:43px;
}
aside ul li h2 {
	height: 42px;
	line-height: 42px;
	width:100%;
	text-align: center;
}
aside ul li h2 span{
	display: none;
}
aside ul li:nth-of-type(2) h2{
	margin-top:-6px;
}
aside ul li:nth-of-type(2) img{
	height:46px;
	padding-top: 15px;
	padding-bottom: 6px;
}
article h4 {
    font-size: 16px;
    line-height: 35px;
    font-weight: bold;
    color: #fa9634;
}
article p {
    font-size: 16px;
    line-height: 27px;
    margin-top: 7px;
    text-indent: 32px;
}
article h4 span {
    font: 16px/50px "microsoft yahei";
    font-weight: normal;
    color: #222;
}
/*footer star**********************************************************/
footer ul:nth-of-type(1){
	display: block;
	padding-bottom: 20px;
}
footer ul:nth-of-type(2){
	display: none;
}
footer ul li{
	float: left;
	width: 65%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 30px;
	margin: 0 auto;
	padding-left: 30%;
}
footer ul li span{
	display: block;
	width: 65px;
	cursor: pointer;
}
footer ul li p{
	max-width: 230px;

}
.nones{
	display: none !important;
}







