	@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.clearfix:after{display:block; height:0; clear:both; content:"."; visibility:hidden;}
dl,dt,dd,ul,li,p,h1,h2,h3,h4,h5,h6,form,label,aside,section,header,footer,article,figure,hgroup,figcaption,button{display:block;}
ul,dl,dt,dd{list-style:none;}
body{ font-family: "微软雅黑"; 
}
a{
	text-decoration: none;
}
img { display:block; margin:0; padding:0;}
.bgno{background:none;}
.ellisis { white-space:nowrap; 
text-overflow:ellipsis;
overflow:hidden;
}
