h2{
	font-size: 22px;
	height: 70px;
	line-height: 70px;
}
nav>ul{
	display: none;
}
nav .text{
	color:transparent;
	height: 40px;
	line-height: 40px;
	display: block;
}
.aaaa{
	display: none;
	height: 60px;
}
#yincang li{
	width: 25%;
	font-size: 12px;
}
.guanbi{
	display: block;
}
.header .logo{
	height: 30px;
	padding-top: 10px;
}
/*header end************************************************************/
.concent{
	padding-top: 80px;
}
.concent>p{
	padding-bottom: 30px;
}
.concent ul li{
	width: 48%;
	float: left;
	margin-right: 4%;
	margin-bottom: 20px;
}
.concent ul li>h5,.concent ul li>p,.concent ul li>span{
	display: none;
}
.concent ul li:nth-of-type(2n){
	margin-right: 0;
}
.xinxi{
	position: fixed;
	z-index: 50000;
	width: 85%;
	left: 5%;
	top: 20%;
	background: #FFFFFF;
	padding: 0px 15px 12px 15px;
}
#zzc{
	position: fixed;
	width: 100%;
	height: 100%;
	padding-right: 10px;
	background: rgba(0,0,0,0.6);
	z-index: 20000;
	top: 0;
	left: -10px;
}
.xinxi img{
	float: right;
	width:30% !important;
	margin-left: 4%;
	padding-top: 3%;
}
.lgg{
	display: none;
}
/*footer star**********************************************************/
footer ul:nth-of-type(1){
	display: block;
	padding-bottom: 20px;
}
footer ul:nth-of-type(2){
	display: none;
}
footer ul li{
	float: left;
	width: 65%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 30px;
	margin: 0 auto;
	padding-left: 30%;
}
footer ul li span{
	display: block;
	width: 65px;
	cursor: pointer;
}
footer ul li p{
    max-width: 230px;
    float: left;	
}

.nones{
	display: none !important;
}







