.box{
	width: 100%;
}

h2{
	color: #000004;
	font-weight: 100;
}

/*通用*********/
header{
	width: 100%;
	background: #333333;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
}
.header{
	max-width:1000px ;
	margin: 0 auto;
}
.header .logo{
	width: 26.6%;
	height: 70px;
	padding-top: 10px;
	float: left;
}
.header .logo img{
	width: 64%;
	cursor: pointer;
}
.header nav{
	float: left;
	width: 73.4%;
	position: relative;
}

.header nav ul li{
	float: left; 
	width:12.67%;  
	height: 80px;
	line-height: 80px;	
	text-align: center;
	transition: .5s;
}
.header nav ul li:nth-of-type(1){
	float: left; 
	width:8.85%; 
}
.header nav ul li:nth-of-type(6){
 	background: #5c5c5c;
}
.header nav>ul>li:hover{
	background: #5c5c5c;
}
.header nav ul li a{
	font-size: 14px;
	color: #fdfef9;
}
nav .text{
	color: #FFFFFF;
	font-size: 18px;
	height: 80px;
	line-height: 80px;
	display: none;
	text-indent: 18%;
}
.dianji{
	width: 8%;
	position: absolute;
	right: 7%;
	top:27%;
}
.dianji img{
	width: 100%;
}
.none{
	display: none;
}
.menu-total{
	width:100%;
	background: #333;
	z-index: 100;
	position: relative;
}
.pudian{
	display: none;
}
#yincang li{
	float: left;
	width: 12.5%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 12px;
	background: #666666;
}
#yincang li a{
	color: #FFFFFF;
}
#yincang li a:active{
	color: #ccc;
}
#yincang li:nth-of-type(6){
	background: #333;
}
.guanbi{
	width: 6%;
	position: fixed;
	right:5.1%;
	top: -0%;
	z-index: 10000;
	display: none;
}
.guanbi img{
	width: 100%;
}
/*header end************************************************************/
.concent{
	max-width:1000px;
	padding: 0 15px 20px 15px;
	margin: 0 auto;
}
.concent>h4{
	height: 42px;
	line-height: 42px;
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 21px;
}
.concent>p{
	line-height: 24px;
	font-size: 24px;
	color: #888888;
	text-align: center;
}
.concent ul li{
	float: left;
	
}
.concent ul li img{
	width: 100%;
}

.concent ul li p,.concent ul li span{
	color: #888;
    line-height: 24px;
    padding-top: 16px;
    text-indent: 28px;
    font-size: 14px;
}
.concent ul li h5{
	text-indent: 0;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #888;
    margin-top: 5px;
}
.xinxi{
	display: none;
}
/*footer star**********************************************************/
footer{
	width: 100%;
	background: #333333;
}
footer ul{
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}
footer ul li{
	float: left;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 14px;
}
footer ul li span{
	display: block;
	float: left;
}
footer ul li p{
	float: left;
}
/*footer结束*********************************/





















