.text,.dianji,.menu-total{
	display: none;
}

h2{
	font-size: 36px;
	height: 118px;
	line-height: 118px;
}
.concent{
	padding-top: 120px;
}

/*footer star**********************************************************/
footer ul li{
	width: 24.3%;
}
footer ul li:nth-of-type(4){
	width: 26.6%;
}








