h2{
	font-size: 26px;
	height: 90px;
	line-height: 90px;
}
nav>ul{
	display: none;
}
nav .text{
	color: #FFFFFF;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	display: block;
}
.header .logo{
	height: 50px;
	padding-top: 10px;
}
.aaaa{
	display: none;
	height: 30px;
}
#yincang li{
	text-align: center;
}
.guanbi{
	display: block;
}
/*header end************************************************************/

.concent{
	padding-top: 80px;
}
aside{
	width: 90%;
	float: none;
	border-right:0px;
	border-bottom: 1px solid #bababa;
	margin: 0 auto 20px auto;
	padding: 0 5%;
}
aside ul{
	width: 90%;
	padding:0 5% 5% 5%;
}
aside ul li{
	width: 25%;
	float: left;
	padding-left: 20%;
}
aside ul li:nth-of-type(2){
	float: right;
}
aside ul li:nth-of-type(1):hover{
	background:url(../../../img/xygk_02.jpg) no-repeat 18px 20px;	
	border-bottom: 3px solid transparent;		
}
article{
	width: 100%;
	float: none;
	padding-bottom: 60px;
}
aside ul li h2{
	width: 100%;
}
aside ul li h2{
	height: 68px;
	line-height: 68px;	
}
aside ul li a{
	font-size: 18px;	
 	color: #13120d;	
}
article p{
	padding-left: 16px;
}
/*footer star**********************************************************/
footer ul {
	padding-left: 10%;
}
footer ul li{
	float: left;
	width: 48%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 30px;
	padding-bottom: 15px;
	
}




















