.text,.dianji,.menu-total{
	display: none;
}

h2{
	font-size: 36px;
	height: 118px;
	line-height: 118px;
}
.concent{
	padding-top: 120px;
}
aside ul li:hover{
    border-bottom: 3px solid #fa9634;	
}
aside ul li:hover img{
	z-index: 0;
}
aside ul{
	width: 94.33%;
	padding-right: 5.66%;
}
aside ul li:nth-of-type(1){
    border-bottom: 3px solid #fa9634;
}
article p:nth-of-type(1){
	margin-top:114px;
}
.bx-wrapper .bx-next,.bx-wrapper .bx-prev{
	display: none;
}

.bx-wrapper .bx-pager {
	width: 99.2%;	
	top: 100%;
	background: url(../img/pic.jpg) repeat;
	height: 91px;
	padding-left: 0.9%;

}
.bx-wrapper .bx-pager div{
	width: 16.4%;
	height: 65px;	
	margin: 2% 1.72%;
	position: relative;
	z-index: 100;
}
.bx-wrapper .bx-pager div:nth-of-type(1) a{
	background: url(../img/xsjx_11.jpg) no-repeat left top;
	background-size:100% 100%;	
}
.bx-wrapper .bx-pager div:nth-of-type(2) a{
	background: url(../img/xsjx_22.jpg) no-repeat left top;
	background-size:100% 100%;	
}
.bx-wrapper .bx-pager div:nth-of-type(3) a{
	background: url(../img/xsjx_33.jpg) no-repeat left top;
	background-size:100% 100%;	
}
.bx-wrapper .bx-pager div:nth-of-type(4) a{
	background: url(../img/xsjx_44.jpg) no-repeat left top;
	background-size:100% 100%;	
}
.bx-wrapper .bx-pager div:nth-of-type(5) a{
	background: url(../img/xsjx_55.jpg) no-repeat left top;
	background-size:100% 100%;
}
.bx-wrapper .bx-pager div:first-of-type:before{
	left: -17%;
	padding-left: 15%;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	background: rgba(0,0,0,0.1);
}
.bx-wrapper .bx-pager.bx-default-pager a:hover:before,
.bx-wrapper .bx-pager.bx-default-pager a.active:before,
.bx-wrapper .bx-pager.bx-default-pager a:hover:after,
.bx-wrapper .bx-pager.bx-default-pager a.active:after{
	display: block;
}
.bx-wrapper .bx-pager a:before{
	content: '';
	width: 100%;
	height: 138%;	
	padding: 0 11%;
	position: absolute;
	background: #000;
	left: -13%;
	top:-20%;
	display: none;
	border: 1px solid #5D4C8C;
	z-index: -100;	
}
.bx-wrapper .bx-pager a:after{
	content: '';
	width: 15px;
	height:15px;
	background: #000;
	position: absolute;
	left: 45%;
	top: -27%;
	transform: rotate(45deg);
	display: none;
	z-index: -100;
}

/*footer star**********************************************************/
footer ul li{
	width: 24.3%;
}
footer ul li:nth-of-type(4){
	width: 26.6%;
}








